html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div#box-page {
	border: 1px solid black;
}

@media print {
	div#box-page {
		position: absolute;
		top: 0;
		left: 0;
		border: none;
	}

	div#box-wrapper {
		position: unset;
		border: none;
	}

	div#render-container {
		float: unset;
		position: absolute;
		left: 0;
		top: 0;
	}

	div#input-form {
		display: none;
		visibility: hidden;;
	}
}
